header {
    background-color: #333;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 1em;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
a {
    color: #333;
    text-decoration: none;
    margin-top: 21px;
}
a:hover {
    text-decoration: underline;

}