header {
    background-color: #333;
    padding: 1em;
}
main {
    margin: 0 auto;
    width: 600px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 1em;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
a {
    color: #333;
    text-decoration: none;
    margin-top: 21px;
}
a:hover {
    text-decoration: underline;

}
fieldset {
    border: 1px solid #333;
    padding: 1em;
    margin-top: 1em;
    width: 600px;
    border-radius: 0.5em;
}
input {
    margin-bottom: 0.5em;
}
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: 0.15em;
    width: 100px;
}
input[type="submit"]:hover {
    background-color: #3f71a7;
}
input[type="reset"] {
    background-color: #007BFF;
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-left: 0.15em;
    width: 100px;
}
input[type="reset"]:hover {
    background-color: #3f71a7;
}

input[type="date"] {
    width: 200px;
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 0.5em;
}
input[type="time"] {
    width: 200px;
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 0.5em;
}
input[type="color"] {
    width: 89px;
    /* padding: 0.5em; */
    border: 1px solid #333;
    border-radius: 0.5em;
}
input[type="range"] {
    width: 200px;
    padding: 0.5em;
    border: 1px solid #333;
    border-radius: 0.5em;
}

select {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
}

optgroup {
    font-weight: bold;
    font-style: italic;
}

select[multiple] {
    width: 400px;
    height: 150px;  /* Ajusta el tamaño según la cantidad de opciones */
    border-radius: 8px;
    background-color: #f8f8f8;
    padding: 8px;
    font-size: 16px;
    outline: none;
}

select[multiple] option {
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

select[multiple] option:hover {
    background-color: #007BFF;
    color: white;
}

input[list] {
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}


.label-input {
    display: block;
    margin-bottom: 0.5em;
}
.botones {
    margin-top: 1em;
    margin-left: 0.15em;
}


